@import './color.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: $primary;
    overflow-x: hidden;
}

.header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 10000;
    top: 0;
    right: 0;
    left: 0;
    .header-shadow{
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.428);
    }
    .header-container{
        width: 70%;
        height: 6rem;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 300ms;
        h4{
            a{
                font-size: 2rem;
                color: $light;
                text-decoration: none;
            }
        }
        .nav{
            ul{
                display: flex;
                list-style: none;
                li{
                    margin-left: 3rem;
                }
            }
            a{
                font-size: 1.8rem;
                text-decoration: none;
                color: $dark;
            }
        }
        .buttons-mobile{
            display: none;
            .open-menu{
                border: none;
                font-size: 2.5rem;
                background-color: transparent;
            }
            .close-menu{
                border: none;
                font-size: 2.5rem;
                background-color: transparent;
            }
        }
    }
}

.home{
    width: 100%;
    display: flex;
    justify-content: center;
    .home-container{
        width: 70%;
        height: 70vh;
        margin-bottom: 5rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

.photos{
    width: 100%;
    display: flex;
    justify-content: center;
    .photos-container{
        width: 70%;
        height: auto;
        text-align: center;
        margin-bottom: 15rem;
        h3{
            margin-top: 7rem;
            font-size: 3rem;
            margin-bottom: 7rem;
        }
        .gallery{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: auto;
            flex-wrap: wrap;
            padding: 0 5rem;
            .card-photo{
                width: 35rem;
                height: 50rem;
                background-color: $secundary;
                overflow: hidden;
                position: relative;
                .photo-img{
                    width: 100%;
                    height: 90%;
                    transition: .3s;
                    z-index: -1;
                    &:hover{
                        transform: scale(1.2) rotate(5deg);
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .description-photo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 10%;
                    background-color: $secundary;
                    position: relative;
                    z-index: 1;
                    p{
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}

.about{
    width: 100%;
    display: flex;
    justify-content: center;
    .about-container{
        width: 70%;
        height: 70vh;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15rem;
        .about-photo{
            width: 40%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .about-text{
            width: 60%;
            height: 100%;
            background-color: $secundary;
            display: flex;
            flex-direction: column;
            align-items: center;
            h4{
                font-size: 2.5rem;
                margin-top: 15rem;
            }
            p{
                text-align: center;
                width: 40rem;
                margin-top: 3rem;
                font-size: 1.9rem;
                line-height: 3.2rem;
            }
        }
    }
}

.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    .contact-container{
        width: 70%;
        height: 40vh;
        margin-bottom: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $secundary;
        h4{
            font-size: 2.5rem;
            margin-top: 10rem;
        }
        p{
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }
        form{
            width: 50rem;
            text-align: center;
            input{
                width: 100%;
                padding: 1.5rem 2rem;
                border: 1px solid $dark;
                outline: none;
                background-color: $primary;
            }
            button{
                width: 15rem;
                padding: 1rem 0;
                margin-top: 2rem;
                font-size: 1.8rem;
                border: 0.1rem solid $dark;
                background-color: $secundary;
                cursor: pointer;
                transition: 300ms ease-in-out;
                &:hover{
                    background-color: $dark;
                    color: $light;
                }
            }
        }
    }
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    .footer-container{
        width: 70%;
        height: 30vh;
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .social-media{
            a{
                font-size: 3rem;
                color: $dark;
                margin-right: 1.5rem;
                &:hover{
                    transition: 300ms ease-in-out;
                    color: $secundary;
                }
            }
        }
        p{
            font-size: 1.8rem;
        }
    }
}



// -------------- Breakpoints --------------

@media (max-width: 1024px) {
    .header{
        .header-container{
            width: 90%;
        }
    }
    .home{
        .home-container{
            width: 90%;
        }
    }
    .photos{
        .photos-container{
            width: 90%;
            .gallery{
                .card-photo{
                    margin-bottom: 3rem;
                }
            }
        }
    }
    .about{
        .about-container{
            width: 90%;
            height: auto;
            .about-text{
                h4{
                    margin-top: 8rem;
                }
                p{
                    width: 90%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header{
        width: 100%;
        .header-container{
            width: 100%;
            justify-content: space-between;
            padding: 2rem;
            .nav{
                display: none;
            }
            .nav-mobile{
                display: block;
                ul{
                    display: block;
                    text-align: center;
                    padding-top: 6em;
                    background-color: $secundary;
                    box-shadow: 5px 5px 20px 0 $dark;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: auto;
                    li{
                        width: 90%;
                        padding: 1rem 0;
                        margin: 0 auto;
                        margin-bottom: 2rem;
                        border: 1px solid $dark;
                        &:hover{
                            transition: 300ms ease-in-out;
                            background-color: $dark;
                            a{
                                color: $light;
                            }
                        }
                        a{
                            width: 100%;
                            padding: 0.5rem 35%;
                        }
                    }
                }

            }
            .buttons-mobile{
                display: flex;
                z-index: 100;
                .close-menu{
                    display: none;
                }
                .off{
                    display: none;
                }
                .on{
                    display: flex;
                }
            }
        }
    }

    .home{
        .home-container{
            width: 100%;
            height: 50vh;
        }
    }

    .photos{
        .photos-container{
            width: 100%;
            height: auto;
            .gallery{
                justify-content: center;
                .card-photo{
                    margin-bottom: 2rem;
                }
            }
        }
    }

    .about{
        .about-container{
            width: 100%;
            height: auto;
            justify-content: center;
            .about-photo{
                width: 90%;
                height: 60rem;
            }
            .about-text{
                width: 90%;
                height: 50rem;
                h4{
                    margin-top: 10rem;
                }
                p{
                    width: 90%;
                    font-size: 1.9rem;
                    line-height: 3.0rem;
                }
            }
        }
    }

    .contact{
        .contact-container{
            width: 90%;
            height: auto;
            padding: 0 2rem;
            margin-bottom: 8rem;
            h4{
                margin-top: 5rem;
            }
            form{
                padding: 0 2rem;
                margin-bottom: 3rem;
                input{
                    width: 90%;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    body{
        width: 100%;
    }

    .about{
        .about-container{
            .about-photo{
                width: 100%;
                height: 55%;
            }
            .about-text{
                width: 100%;
                height: 45%;
                h4{
                    margin-top: 5rem;
                }
                p{
                    width: 35rem;
                }
            }
        }
    }

    .contact{
        .contact-container{
            width: 100%;
        }
    }

    .footer{
        .footer-container{
            width: 100%;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}