* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f4f3ee;
  margin-bottom: 20rem;
}

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
}
.header .header-container {
  background-color: transparent;
  width: 70%;
  height: 6rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-container h4 {
  font-size: 2rem;
  color: white;
}
.header .header-container .nav ul {
  display: flex;
  list-style: none;
}
.header .header-container .nav ul li {
  margin-left: 3rem;
}
.header .header-container .nav a {
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
}
.header .header-container .buttons-mobile {
  display: none;
}

.home {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home .home-container {
  width: 70%;
  height: 70vh;
  margin-bottom: 5rem;
}
.home .home-container img {
  width: 100%;
  height: 100%;
}

.photos {
  width: 100%;
  display: flex;
  justify-content: center;
}
.photos .photos-container {
  width: 70%;
  height: 70vh;
  text-align: center;
  margin-bottom: 15rem;
}
.photos .photos-container h3 {
  margin-top: 7rem;
  font-size: 3rem;
  margin-bottom: 7rem;
}
.photos .photos-container .gallery {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 0 5rem;
}
.photos .photos-container .gallery .card-photo {
  width: 35rem;
  height: 50rem;
  background-color: #dbdbd8;
}
.photos .photos-container .gallery .card-photo .photo-img {
  width: 100%;
  height: 90%;
}
.photos .photos-container .gallery .card-photo .photo-img img {
  width: 100%;
  height: 100%;
}
.photos .photos-container .gallery .card-photo .description-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}
.photos .photos-container .gallery .card-photo .description-photo p {
  font-size: 1.8rem;
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
}
.about .about-container {
  width: 70%;
  height: 70vh;
  display: flex;
  margin-bottom: 15rem;
}
.about .about-container .about-photo {
  width: 40%;
  height: 100%;
}
.about .about-container .about-photo img {
  width: 100%;
  height: 100%;
}
.about .about-container .about-text {
  width: 60%;
  height: 100%;
  background-color: #dbdbd8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about-container .about-text h4 {
  font-size: 2.5rem;
  margin-top: 15rem;
}
.about .about-container .about-text p {
  text-align: center;
  width: 40rem;
  margin-top: 3rem;
  font-size: 1.9rem;
  line-height: 3.2rem;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact .contact-container {
  width: 70%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbdbd8;
}
.contact .contact-container h4 {
  font-size: 2.5rem;
  margin-top: 10rem;
}
.contact .contact-container p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.contact .contact-container form {
  width: 50rem;
  text-align: center;
}
.contact .contact-container form input {
  width: 100%;
  padding: 1.5rem 2rem;
  border: none;
  outline: none;
}
.contact .contact-container form button {
  width: 15rem;
  padding: 1rem 0;
  margin-top: 2rem;
  font-size: 1.8rem;
  border: 0.1rem solid black;
  background-color: #dbdbd8;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.contact .contact-container form button:hover {
  background-color: black;
  color: white;
}

/*# sourceMappingURL=index.css.map */
